name: General

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  DATABASE_USER: postgres
  DATABASE_PASSWORD: password
  DATABASE_DB: postgres

jobs:
  quality:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest
      - name: Run Biome
        run: biome ci .
  # test:
  #     runs-on: ubuntu-latest
  #     name: Test
  #     services:
  #       postgres:
  #         image: postgres:14
  #         env:
  #           POSTGRES_USER: postgres
  #           POSTGRES_PASSWORD: password
  #           POSTGRES_DB: postgres
  #         ports:
  #           - 5432:5432
